html, body {
  margin: 0;
}

.html1 {
    font-size: 10px;
    background-color: rgb(240, 235, 221);
}

.html2 {
    font-size: 10px;
    background-color: rgb(236, 223, 195);
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:visited {
    color: inherit;
}

/* Home page */

.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 235, 221);
}

.homePage .ctn1 {
    border: #A67C14 2px solid;    
    border-radius: 4px;
    background-color: rgb(236, 223, 195);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    padding: 46px 0;
}

.homePage .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hp-h1 {
    font-family: 'Beau Rivage';
    font-size: 5rem;
}

.hp-h1 span {
    display: inline-block;
  animation: letterHighlight 0.6s ease forwards;
    animation-delay: var(--delay);


}

.hp-h2 {
    font-family: 'Beau Rivage';
    font-size: 2.5rem;
}

.hp-img {
    padding: 14px 0;
}

.hp-divider {
    width: 120px;
}

.languageCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.langOpt {
    font-size: 2rem;
    font-family: "Nunito Sans", sans-serif;
}

.langOptDec {
    opacity: 0;
    padding: 0 5px;
    font-size: 1.5rem;
    transition: opacity 0.6s ease-out;
}

.langOpt:hover .langOptDec {
    opacity: 1;
}

.langOpt.tap-animate .langOptDec {
    opacity: 1;
}

.langDivider {
    padding: 10px 0;
    color:#A67C14;
    font-size: 1.5rem;
}

/* #region HEADER h */

header {
    position: sticky;
    top: 0;
    background-color: rgb(236, 223, 195);
    transition: 
        background-color 0.5s ease,
        width 0.5s ease,
        max-height 0.5s ease;
}

.headerCtn {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.borderBottom2 {
    border-bottom: #486946 solid clamp(0.8px,0.8vw,1vh);
}

.headerTitleCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(5px,2vw,10px) 0;
    width: 100%;
}

.style-h1 {    
    font-family: 'Beau Rivage';
    color: rgb(0, 0, 0);
    font-size: clamp(5.4rem,14vw,8vh);
    transition: font-size 0.5s ease;
}

header.shrunk .style-h1 {    
  font-size: clamp(3rem, 6vw, 5vh);
}

.style-h2 {
    font-family: 'Beau Rivage';
    margin-top: -0.5vh;
    font-size: clamp(2.6rem,6vw, 34px);
    letter-spacing: 1.4px;
    transition: font-size 0.5s ease;
}

header.shrunk .style-h2 {
    font-size: clamp(1.4rem,4vw,4vh);
    letter-spacing: 1.4px;
}

.ctn-h2 {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: clamp(8px,2vw,1vh) 0;
}

.imageWrap {
    width: 100%;
    display: grid;
    place-items: center;
}

.imageWrap .divider-h1 {
    grid-area: 1 / 1;
    width: clamp(120px, 32vw, 30vh);
    max-height: 7vh;
    object-fit: contain;
    transition: 
        width 0.5s ease, 
        max-height 0.5s ease,
        opacity 0.5s ease;
    opacity: 0;
}

.imageWrap img.active {
    opacity: 1;
}



.btnCtn{
    position: relative;
    display: flex;
    height: 0;
}

.menuBtn {
    position: sticky;
    font-size: 24px;
    padding: 2px 5px 3px 5px;
    height: fit-content;
    border-radius: 4px;
    background-color: rgba(240, 230, 210, 0.7);
    color: black;
    border: 0px rgb(166, 124, 20) solid;
    transition: background-color 0.1s ease;
    margin-left: auto;
    margin-right: 14px;
    margin-top: 10px;
}




.menuBtn:active, .menuBtn:focus-visible {
    background-color: rgb(205, 187, 152);
}

#headerBottomMobile, #headerBottomDesktop {
    width: 100%;
}





/* HEADER SHRINK */





header.shrunk .ctn-h2 {
    display: flex;
    width: 100%;
    padding-top: clamp(4px,1vw,0.5vh);
}

header.shrunk .divider-h1 {
    width: clamp(80px, 20vw, 20vh);
    max-height: 5vh;
    margin: 0 auto;
    object-fit: contain;
}

/* #endregion HEADER h */

/* #region NAV */

nav {
  margin-top: 0;
  position: relative;
}



.navCtn1 {
    position: absolute;
    overflow: hidden;
    top:-1px;
    height: 0;
    transition: 
        height 0.5s ease,
        border-bottom 0.5s ease ;
    width: 100%;
    background-color: rgb(236, 223, 195);
    border-bottom: rgb(166, 124, 20) solid 2px;
}

.navCtn2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 16px;
    gap: clamp(6px,1vw, 30px);
    font-size: clamp(2rem, 3vw, 3rem);
}

#navDesktop {
    display: none;
}

.navOption {
    color: black;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
}

.navSeparator {
    margin: 0 auto;
    width: 100px;
    padding-top: 6px;
}

/* #endregion NAV */




.headerImage {
}

.img1 {
    height: 26vh;
    z-index: 1;
    background: url("pictures/header_picture2.jpeg") no-repeat center center;
    background-size: cover;
    max-height: 400px;
}

/* #region SECTIONS */

.sections {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.se1 {
    border-top: rgb(166, 124, 20) solid 2px;
    background-color: rgb(240, 235, 221);
}

.se2 {
    border-top: #486946 solid 2px;
    background-color: #eff7ed;
}

.sectionHeader {
    display: flex;
    align-items: center;
    height: 60px;
    width: fit-content;
    margin: 0 auto;
    padding: 24px 0 16px 0;
}

.style-se-h1 {
    font-family: 'Beau Rivage';
    font-size: 4.5rem;
}

.sectionHeaderSeparator {
    margin: 0 auto;
    width: 150px;
}

.se-body {
    display: flex;
    flex-direction: column;
    padding: 20px 0 40px 0;
    width: 260px;
}

.se-b-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.textDecorationLeft, .textDecorationRight {
    width: 30px;
    margin: 0 8px;
}

.style-se-h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 2.2rem;
    padding: 10px 0;
}

.style-se-h3 {
    font-family: "Quintessential", serif;
    font-size: 18px;
    padding: 5px 0;
    margin: 0 auto;
}

.style-se-h4 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.2rem;
    margin: 0 auto;
    font-weight: bold;
}

.style-se-h5 {
    font-family: "Quintessential", serif;
    font-size: 15px;
    padding: 4px 0;
    margin: 0 auto;
}

.style-se-p1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    padding: 3px 0;
    margin: 0 auto;
}

.style-se-p3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    padding-top: 2px;
    margin: 0 auto;
    font-weight: bold;
}

.style-se-p4 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.2rem;
    padding-bottom: 2px;
    margin: 0 auto;
}

.style-se-link {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    padding: 4px 0 2px 0;
    margin: 0 auto;
    color: rgb(85, 85, 85);
    font-style: italic;
}

.style-se-link:visited {
    color: rgb(85, 85, 85);
}

.lineSpace1 {
    height: 10px;
}

.lineSpace2 {
    height: 20px;
}

.lineSpace3 {
    height: 30px;
}

.blackDivider {
    width: 120px;
    margin: 0 auto;
}

.greenDivider {
    margin: 0 auto;
    padding: 4px 0;
    width: 14px;
}

.style-se-stars {
    font-size: 10px;
    color: #A67C14;
}

.se-btn1 {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 60px;
    margin: 0 auto;
    border: #A67C14 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.se-btn1-text {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(240, 235, 221);
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-style: italic;
}



/* #endregion SECTIONS */



.centered {
    margin: 0 auto;
    text-align: center;
}

.justified {
    margin: 0 auto;
    text-align: justify;
}

.leftAlign {
    margin: 0;
    text-align: left;
}

.bold {
    font-weight: bold;
}





















/* Style */

.hstyle1 {
    color: black;
    font-family: 'Beau Rivage';
    font-size: clamp(5rem,5vw,10rem);
}

/* Img and dividers */



.divider3 {
    height: 0.4vh;
    /*background-color: rgb(84, 84, 84);*/
    background-color: rgb(84,84,84);
}


/* FOOTER */

footer {
    border-top: #A67C14 solid 2px;
    position: sticky;
    bottom: 0;
    height: 6vh;
    background-color: rgb(236, 223, 195);

    display: flex;
    align-items: center;
    justify-content: center;
        font-family: "Nunito Sans", sans-serif;

}

.langChoiceCtn {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
}




@media (orientation: landscape) {

    .img1 {
        height: 40vh;
        max-height: 20vw;
    }
    
}

/* Phone landscape */
@media (orientation: landscape) and (max-height: 500px) {

    
    /* Home page */

    .homePage .ctn1 {
        width: 90%;
        max-width: 400px;
        padding: 20px 0;
    }

    .hp-h1 {
        font-family: 'Beau Rivage';
        font-size: 4rem;
    }

    .hp-h2 {
        font-family: 'Beau Rivage';
        font-size: 2rem;
    }

    .hp-divider {
        width: 80px;
    }

    .languageCtn {
        margin-top: 10px;
    }

    .langOpt {
        font-size: 1.6rem;
        font-family: "Nunito Sans", sans-serif;
    }

    .langDivider {
        padding: 4px 0;
        font-size: 1.2rem;
    }

    .headerTitleCtn {
        padding: clamp(4px,0.6vw,11px) 0;
    }

    header.shrunk .headerTitleCtn {
        padding: clamp(6px,0.8vw,11px) 0;
    }

    .style-h1 {
        font-size: clamp(3rem,4.5vw,9rem);
    }

    header.shrunk .style-h1 {
        font-size: clamp(3rem,4.5vw,9rem);
    }

    .style-h2 {
        font-size: clamp(1.8rem,1vw,6rem);
    }

    header.shrunk .style-h2 {
        font-size: clamp(1.8rem,1vw,6rem);
    }

    .ctn-h2 {
        padding: clamp(4px,1vw,10vh) 0;
    }

    header.shrunk .ctn-h2 {
        padding: clamp(10px,1vw,10vh) 0;
    }

    .imageWrap .divider-h1 {
        width: clamp(80px, 12vw, 140px);
    }

    header.shrunk .imageWrap img {
        width: clamp(80px, 12vw, 140px);
    }

    .se-body {
        width: 50%;
    }
}

/* Tablet+ */
@media (min-width: 768px) and (min-height: 600px) {

    /* Home page */

    .homePage .ctn1 {
        width: 90%;
        max-width: 400px;
        padding: 20px 0;
    }

    .hp-h1 {
        font-family: 'Beau Rivage';
        font-size: 4rem;
    }

    .hp-h2 {
        font-family: 'Beau Rivage';
        font-size: 2rem;
    }

    .hp-divider {
        width: 80px;
    }

    .languageCtn {
        margin-top: 10px;
    }

    .langOpt {
        font-size: 1.6rem;
        font-family: "Nunito Sans", sans-serif;
    }

    .langDivider {
        padding: 4px 0;
        font-size: 1.2rem;
    }

    /* Header */

    .headerTitleCtn {
        padding: clamp(8px,1.05vw,11px) 0;
    }

    header.shrunk .headerTitleCtn {
        padding: clamp(6px,0.8vw,11px) 0;
    }

    .style-h1 {
        font-size: clamp(7rem,8vw,9rem);
    }

    header.shrunk .style-h1 {
        font-size: clamp(3.5rem,4.6vw,5rem);
    }

    .style-h2 {
        font-size: clamp(4rem,5.2vw,6rem);
    }

    header.shrunk .style-h2 {
        font-size: clamp(2rem,2.6vw,6rem);
    }

    .ctn-h2 {
        padding: clamp(10px,1vw,10vh) 0;
    }

    .imageWrap .divider-h1 {
        width: clamp(200px, 26vw, 260px);
    }

    header.shrunk .imageWrap img {
        width: clamp(100px, 14vw, 130px);
    }

    .navCtn1 {
        display: none;
    }

    #navDesktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: rgb(166, 124, 20) solid clamp(4px,0.52vw,1vh);
    }

    .navDesktopCtn {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }

    .navOption {
        font-size: clamp(15px,1.82vw,10vh);
    }

    .navOptionSeparator {
        font-size: clamp(12px,1.5vw,20px);
        align-self: center;
    }

    .btnCtn {
        display: none;
    }

    /* Sections */

    .se1, .se2 {
        border-top-width: clamp(4px,0.52vw,1vh);
    }

    .sectionHeader {
        height: 70px;
        padding: 30px 0 20px 0;
    }

    .style-se-h1 {
        font-size: 5.4rem;
    }

    .sectionHeaderSeparator {
        width: 180px;
    }

    .se-body {
        width: 60%;
        padding: 30px 0 50px 0;
    }

    .textDecorationLeft, .textDecorationRight {
        width: 40px;
        margin: 0 10px;
    }

    .style-se-h2 {
        padding: 12px 0;
        font-size: 2.6rem;
    }

    .style-se-h3 {
        font-size: 2.4rem;
        padding: 6px 0;
    }

    .style-se-h4 {
        font-size: 1.8rem;
    }

    .style-se-h5 {
        font-size: 2rem;
    }

    .style-se-p1 {
        font-size: 1.8rem;
        padding: 4px 0;
    }

    .style-se-p3 {
        font-size: 1.8rem;
        padding: 3px 0 2px 0;
    }

    .style-se-p4 {
        font-size: 1.5rem;
        padding-bottom: 3px;
    }

    .style-se-link {
        font-size: 1.8rem;
    }

    .lineSpace1 {
        height: 12px;
    }

    .lineSpace2 {
        height: 24px;
    }

    .lineSpace3 {
        height: 36px;
    }

    .blackDivider {
        width: 150px;
    }

    .greenDivider {
        margin: 0 auto;
        padding: 6px 0;
        width: 18px;
    }

    .se-btn1 {
        width: 170px;
        height: 80px;
        border-radius: 6px;
    }

    .se-btn1-text {
        font-size: 2.6rem;
        letter-spacing: 3px;
    }


}

/* Laptop and landscape tablets*/
@media (min-width: 900px) and (min-height: 600px) and (orientation: landscape) {
    
    .headerTitleCtn {
        padding: 4px 0;
    }

    header.shrunk .headerTitleCtn {
        padding: 4px 0;
    }

    .style-h1 {
        font-size: 5rem;
    }

    header.shrunk .style-h1 {
        font-size: 3rem;
    }

    .style-h2 {
        font-size: 2.5rem;
    }
    header.shrunk .style-h2 {
        font-size: 1.5rem;
    }
    .ctn-h2 {
        padding: 10px;
    }

    header.shrunk .ctn-h2 {
        padding: 4px;
    }



    .imageWrap .divider-h1 {
        width: 150px;
    }

    header.shrunk .imageWrap img {
        width: 100px;
    }

    #navDesktop {
        border-bottom: rgb(166, 124, 20) solid 4px;
    }

    .navDesktopCtn {
        width: 60%;
        min-width: 700px;
    }

    .navOption {
        font-size: 14px;
    }

    .navOptionSeparator {
        font-size: 14px;
        align-self: center;
    }

    .se1 {
        border-top: rgb(166, 124, 20) solid 4px;
    }
}

@media (min-width: 1400px) {
}



/* Animations */

@keyframes letterHighlight {
    0% {
        color: inherit;
    }
    40% {
        color:rgb(136, 116, 65);
        text-shadow: 1px 1px 3px rgb(240, 235, 221);
    }
    100% {
        color: inherit;
    }
} 
    
