html, body {
  margin: 0;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F1EEEA;
    width: 100%;
    height: 100%;
}

body, header {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Containers */


.container1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styles */

.style1 {
  font-family: 'Beau Rivage';font-size: 50px;
  font-size: clamp(3rem, 12vw, 5rem);
}

.style2 {  
  font-family: "Quintessential", serif;
  font-size: clamp(2rem, 4vw, 3rem);  
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
}

.siteTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Beau Rivage';font-size: 50px;
  color: black;
  padding-top: 5px;
}

.header span {
  color: rgb(0, 0, 0);
  transition: color 0.3s ease;
}

.header:hover span {
  animation: shine2 0.2s forwards;
  animation-delay: var(--delay);
}

@keyframes shine2 {
  0%, 100% { color: black; }
  50% { color: rgb(255, 255, 255) }
}

/* NAV BAR */

nav {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-family: "Quintessential", serif;
  position: sticky;
  top:0;
  background-color: #F1EEEA;
  border-bottom: 5px solid rgb(84, 84, 84);
  z-index: 1000;
  transition: background-color 1s ease;
}

.navCtn {
  display: flex;
}

.navOption, .navSeparator {
  display: flex;
  font-family: "Nunito Sans", sans-serif;
  padding: 10px;
  color: black;
}

.navOption:hover {
}

.navOption:hover span {
  animation: shine 0.4s forwards;
  animation-delay: var(--delay);
}

/* Define the animation */
@keyframes shine {
  0%, 100% { 
    color: black; }
  50% { 
    color: rgb(147, 130, 64);}
}



/* SITE BODY */

.pic {
  height: 40vh; /* always 20% of the viewport height */
  z-index: 1;
  background: url("pictures/header_picture2.jpeg") no-repeat center center;
  background-size: cover; /* scale & crop to fill area */
  border-bottom: 5px solid rgb(84, 84, 84);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.languageChoiceContainer {
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 300px;
}

/* IMAGES AND DIVIDERS */

.divider1 {
  width: clamp(160px,70vw,260px);
}

.divider2 {
  width: 200px;
}

.starDivider {
  width: 150px;
}



/* SECTIONS */

.sectionsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: rgb(255, 253, 243);
}

.section1 {
  /*border: 2px red solid;*/
  background-color: rgb(255, 253, 243);

}

.section2 {
  /*border: 2px solid green;*/
  width: 100%;
  background-color: rgb(205, 216, 203);
}



.sectionHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 4px;
  padding: 6px 0 14px 0;
  color: rgb(0, 0, 0);
}

.sectionTitle {
  display: flex;
  justify-content: center;
  /*font-family: 'Beau Rivage';font-size: 30px;*/
  font-family: "Nunito Sans", sans-serif;
  font-size: 28px;
  color: rgb(0, 0, 0);
}

.sectionTitle2 {
  color: rgb(20, 31, 20);
}








.sectionBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 10px 0;
  gap: 14px;
}



.paragraph {
  display: flex;
  flex-direction: column;

  text-align: center;

}



.paragraphHeader {
  font-weight: bold;
  font-size: 18px;
}

.headerStyle1 {
  margin-bottom: 10px;
}

.paragraphLine {
  color: rgb(84,84,84);
  
}

.lineStyle1 {
  margin-top: 10px
}

.lineStyle2 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 6px;
}

.style3 {
  margin-top: 2px;
}

.sectionBodyType1 {
  font-weight: bold;
  font-size: larger;
  color: black;
  

}

.sectionBodyType2 {
  color: rgb(84,84,84);
}

.button1 {
  margin-top: 10px;
}




.flowerDivider3 {
  width: 150px;
  margin: 10px 0;
}

.sectionsArea a {
  color: rgb(84,84,84);
  font-weight: bold;
  text-decoration: underline;
}

/* BUTTONS */

.languageButton {
    margin: 2vh 0 2vh 0;
    height: 50px;
    background-color: rgb(255, 241, 241);
    color: indianred;
    border: 2px solid indianred;
    font-family: Garamond, serif;

    font-size: 26px;
    border-radius: 3px;
    cursor: pointer;
}



button span {
  display: inline-block;
  transition: color 0.3s ease;
}











/* Portrait mode (height > width) */
@media (orientation: portrait) {
  header {
    height: 25vh; /* shrink the header for tall screens */
    background-position: top center; /* optional: focus on top of the image */
  }
  
  .languageButton {
    margin: 2vh 0 2vh 0;
    height: 8vh;
    background-color: rgb(8, 25, 0);
    color: antiquewhite;
    font-family: 'Brush Script MT', cursive;
    font-size: 26px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    }

}
