html, body {
  margin: 0;
}

body {
  opacity: 0;
  transition: opacity 1s ease;
}

body.page-ready {
  opacity: 1;
}

.html1 {
    font-size: 10px;
    background-color: #f8f5ed;
}

.html2 {
    font-size: 10px;
    background-color: #F0E6D2;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:visited {
    color: inherit;
}



/* Home page */

.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f5ed;
}

.homePage .ctn1 {
    border: #A67C14 2px solid;    
    border-radius: 4px;
    background-color: #F0E6D2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    padding: 46px 0;
}


.homePage .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hp-h1 {
    font-family: 'Beau Rivage';
    font-size: 5rem;
}

.hp-h1 span {
    display: inline-block;
    animation: letterHighlight 0.6s ease forwards;
    animation-delay: var(--delay);
    animation-play-state: paused;
}

.hp-h2 {
    font-family: 'Beau Rivage';
    font-size: 2.5rem;
}

.hp-img {
    padding: 14px 0;
}

.hp-divider {
    width: 120px;
}

.languageCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.langOpt {
    font-size: 2rem;
    font-family: "Nunito Sans", sans-serif;
}

.langOptDec {
    opacity: 0;
    padding: 0 5px;
    font-size: 1.5rem;
    transition: opacity 0.6s ease-out;
}

.langOpt:hover .langOptDec {
    opacity: 1;
}

.langOpt.tap-animate .langOptDec {
    opacity: 1;
}

.langDivider {
    padding: 10px 0;
    color:#A67C14;
    font-size: 1.5rem;
}

/* #region HEADER h */

header {
    position: sticky;
    top: 0;
    background-color: #F0E6D2;
    transition: 
        background-color 0.5s ease,
        max-height 0.5s ease;
}

.headerCtn {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.headerTitleCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(5px,2vw,10px) 0;
    width: 100%;
}

.style-h1 {    
    font-family: 'Beau Rivage';
    font-size: clamp(4.4rem,11.75vw,5rem);
    transition: font-size 0.5s ease;
}

header.shrunk .style-h1 {    
  font-size: clamp(3rem, 8vw, 4rem);
}

.style-h2 {
    font-family: 'Beau Rivage';
    margin-top: -0.5vh;
    font-size: clamp(2.6rem,6vw, 3.4rem);
    letter-spacing: 1.4px;
    transition: font-size 0.5s ease;
}

header.shrunk .style-h2 {
    font-size: clamp(1.4rem,4vw,1.7vh);
}

.style-h1 span, .style-h2 span {
    display: inline-block;
    animation: letterHighlight 0.6s ease forwards;
    animation-delay: var(--delay);
    animation-play-state: paused;
}

.ctn-h {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: clamp(8px,2vw,10px) 0;
    transition: padding 0.5s ease;
}

header.shrunk .ctn-h {
    padding: clamp(4px,1vw,5px) 0;
}

.hpImageWrap, .imageWrap {
    width: 100%;
    display: grid;
    place-items: center;
}

.imageWrap img{
    grid-area: 1 / 1;
    width: 120px;
    object-fit: contain;
    transition: 
        width 0.5s ease, 
        opacity 0.5s ease;
    opacity: 0;
}

header.shrunk .imageWrap img {
    width: 80px;
}

.imageWrap img.active {
    opacity: 1;
}

/* #endregion HEADER h */


/* #region NAV */

nav {
  margin-top: 0;
  position: relative;
}

.navBtnCtn{
    position: relative;
    display: flex;
    height: 0;
}

.navBtn {
    transition:
        background-color 0.1s ease;
    position: sticky;
    opacity: 0.8;
    font-size: 24px;
    padding: 2px 5px 3px 5px;
    height: fit-content;
    border-radius: 4px;
    background-color: rgb(240, 230, 210);
    border: 0;
    color: black;
    margin-left: auto;
    margin-right: 14px;
    margin-top: 10px;
}


.navBtn:active, .navBtn:focus-visible {
    background-color: rgb(205, 187, 152);
}

.navMobile {
    position: absolute;
    overflow: hidden;
    top:-1px;
    height: 0;
    transition: 
        height 0.5s ease,
        border-bottom 0.5s ease ;
    width: 100%;
    background-color: #F0E6D2;
;
    border-bottom: rgb(166, 124, 20) solid 2px;
}

.navMobileCtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 16px;
    gap: clamp(6px,1vw, 30px);
    font-size: clamp(2rem, 3vw, 3rem);
}

.navDesktop {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: rgb(166, 124, 20) solid 2px;
}

.navDesktopCtn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.navOption {
    color: black;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
}

.navOption:hover span {
    animation: letterHighlight 0.6s ease forwards;
    animation-delay: var(--delay);
}

.navSeparator {
    margin: 0 auto;
    width: 100px;
    padding-top: 6px;
}

.navOptionSeparator {
    align-self: center;
}

/* #endregion NAV */

.img1 {
    height: 35vw;
    z-index: 1;
    background: url("pictures/header_picture2.jpeg") no-repeat center center;
    background-size: cover;
}

/* #region SECTIONS */

.sections {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.se1 {
    border-top: rgb(166, 124, 20) solid 2px;
    background-color: #f8f5ed;
}

.se2 {
    border-top: #486946 solid 2px;
    background-color: #F1F8F0;
}

.sectionHeader {
    display: flex;
    align-items: center;
    height: 60px;
    width: fit-content;
    margin: 0 auto;
    padding: 14px 0 8px 0;
}

.style-se-h1 {
    font-family: "Quintessential", serif;
    font-size: 2.4rem;
}

.sectionHeaderSeparator {
    margin: 0 auto;
    width: 120px;
}

.se-body {
    display: flex;
    flex-direction: column;
    padding: 30px 0 40px 0;
    width: 260px;
}

.programCtn {
    display: flex;
    flex-direction: column;
    border: #A67C14 2px solid;
    background-color: rgb(236, 223, 195) ;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
}

.se-b-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 6px;
}

.textDecorationLeft, .textDecorationRight {
    width: 30px;
    margin: 0 8px;
}

.style-se-h2 {
    font-family: "Quintessential", serif;
    font-size: 2.2rem;
    padding: 10px 0;
}

.style-se-h3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.6rem;
    padding: 5px 0;
    margin: 0 auto;
}

.style-se-h4 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    margin: 0 auto;
    font-weight: bold;
}

.style-se-h5 {
    font-family: "Quintessential", serif;
    font-size: 1.5rem;
    padding: 4px 0;
    margin: 0 auto;
}

.style-se-h6 {
    font-family: "Quintessential", serif;
    font-size: 2rem;
    color: #A67C14;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 2px;
    margin: 0 auto;
}

.style-se-intro {
    font-family: "Nunito Sans", sans-serif;
    font-size: 2rem;
    color: black;
    margin: 0 auto;
    padding-bottom: 10px;
    font-style: italic;
    font-weight: bold;
}

.style-se-intro2 {
    font-family: "Quintessential", serif;
    font-size: 2.6rem;
    color: #A67C14;
    margin: 0 auto;
    padding-bottom: 10px;
    font-weight: bold;
}

.style-se-p1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    margin: 0 auto;
    padding-bottom: 2px;
}


.style-se-p3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    padding-top: 2px;
    margin: 0 auto;
    font-weight: bold;
}

.style-se-p4 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.2rem;
    padding-bottom: 2px;
    margin: 0 auto;
}

.style-se-link {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.4rem;
    margin: 0 auto;
    color: rgb(85, 85, 85);
    font-style: italic;
    padding-bottom: 2px;
}



.style-contact1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    padding-top: 2px;
    margin: 0 auto;
    font-weight: bold;
}

.style-contact2 {
    font-family: "Quintessential", serif;
    font-size: 1.4rem;
    padding-top: 2px;
    margin: 0 auto;
    font-weight: bold;

}

.style-se-link:visited {
    color: rgb(85, 85, 85);
}

.lineSpace1 {
    height: 10px;
}

.lineSpace2 {
    height: 20px;
}

.lineSpace3 {
    height: 30px;
}

.blackDivider {
    width: 120px;
    margin: 0 auto;
}

.greenStar {
    margin: 0 auto;
    padding: 4px 0;
    width: 14px;
}

.blackStar {
    margin: 0 auto;
    padding: 8px 0;
    width: 12px;
}

.style-se-stars {
    font-size: 1rem;
    color: #A67C14;
}

.se-btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    margin: 0 auto;
    cursor: pointer;
    color: #A67C14;
    font-family: "Nunito Sans", sans-serif;
    font-size: 2rem;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.se-btn1:hover {
        color: black;

}

.se-btn1-text {
    color: inherit;
}







/* #endregion SECTIONS */



.centered {
    margin: 0 auto;
    text-align: center;
}

.justified {
    margin: 0 auto;
    text-align: justify;
}

.leftAlign {
    margin: 0;
    text-align: left;
}

.bold {
    font-weight: bold;
}

.no-padding {
    padding: 0;
}



@media (orientation: landscape) {

    .img1 {
        height: 40vh;
        max-height: 20vw;
    }
    
}

/* Phone landscape */
@media (orientation: landscape) and (max-height: 500px) {

    
    /* Home page */

    .homePage .ctn1 {
        width: 90%;
        max-width: 400px;
        padding: 20px 0;
    }

    .hp-h1 {
        font-size: 4rem;
    }

    .hp-h2 {
        font-family: 'Beau Rivage';
        font-size: 2rem;
    }

    .hp-divider {
        width: 80px;
    }

    .languageCtn {
        margin-top: 10px;
    }

    .langOpt {
        font-size: 1.6rem;
        font-family: "Nunito Sans", sans-serif;
    }

    .langDivider {
        padding: 4px 0;
        font-size: 1.2rem;
    }

    .headerTitleCtn {
        padding: clamp(4px,0.6vw,11px) 0;
    }

    header.shrunk .headerTitleCtn {
        padding: clamp(6px,0.8vw,11px) 0;
    }

    .style-h1 {
        font-size: clamp(3rem,4.5vw,9rem);
    }

    header.shrunk .style-h1 {
        font-size: clamp(3rem,4.5vw,9rem);
    }

    .style-h2 {
        font-size: clamp(1.8rem,1vw,6rem);
    }

    header.shrunk .style-h2 {
        font-size: clamp(1.8rem,1vw,6rem);
    }

    .ctn-h {
        padding: clamp(4px,1vw,10vh) 0;
    }

    header.shrunk .ctn-h {
        padding: clamp(10px,1vw,10vh) 0;
    }

    .imageWrap .divider-h1 {
        width: clamp(80px, 12vw, 140px);
    }

    header.shrunk .imageWrap img {
        width: clamp(80px, 12vw, 140px);
    }

    .se-body {
        width: 50%;
    }
}

/* Tablet+ */
@media (min-width: 768px) and (min-height: 600px) {

    /* Home page */

    .homePage .ctn1 {
        width: 90%;
        max-width: 400px;
        padding: 20px 0;
    }

    .hp-h1 {
        font-size: 4rem;
    }

    .hp-h2 {
        font-size: 2rem;
    }

    .hp-divider {
        width: 80px;
    }

    .languageCtn {
        margin-top: 10px;
    }

    .langOpt {
        font-size: 1.6rem;
        font-family: "Nunito Sans", sans-serif;
    }

    .langDivider {
        padding: 4px 0;
        font-size: 1.2rem;
    }

    /* Header */

    .headerTitleCtn {
        padding: clamp(8px,1.05vw,11px) 0;
    }

    header.shrunk .headerTitleCtn {
        padding: clamp(6px,0.8vw,11px) 0;
    }

    .style-h1 {
        font-size: clamp(6rem,7.8vw,8rem);
    }

    header.shrunk .style-h1 {
        font-size: clamp(4rem,5vw,6rem);
    }

    .style-h2 {
        font-size: clamp(3.5rem,4.5vw,4.6rem);
    }

    header.shrunk .style-h2 {
        font-size: clamp(2.2rem,2.85vw,2.9rem);
    }

    .ctn-h {
        padding: clamp(11px,1.43vw,15px) 0;
    }

    header.shrunk .ctn-h {
        padding: clamp(5.5px,0.7vw,7.5px) 0;
    }

    .imageWrap img {
        width: clamp(200px, 26vw, 260px);
    }

    header.shrunk .imageWrap img {
        width: clamp(130px, 17vw, 170px);
    }

    /* Nav */

    .navBtnCtn {
        display: none;
    }

    .navMobile {
        display: none;
    }

    .navDesktop {
        display: flex;
        border-bottom-width: 5px;
    }

    .navDesktopCtn {
        padding-bottom: 10px;
    }

    .navOption {
        font-size: clamp(1.6rem,2.1vw,2rem);
    }

    .navOptionSeparator {
        font-size: clamp(1.2rem,1.5vw,1.5rem);
    }

    .img1 {
        height: 30vw;
    }


    /* Sections */

    .se1, .se2 {
        border-top-width: 5px;
    }

    .sectionHeader {
        height: 70px;
        padding: 30px 0 24px 0;
    }

    .style-se-intro {
        font-size: 2.6rem;
        padding-bottom: 18px;
    }

    .style-se-intro2 {
        font-size: 3rem;
        padding-bottom: 18px;
    }

    .style-se-h1 {
        font-size: 4rem;
    }

    .sectionHeaderSeparator {
        width: 180px;
    }

    .se-body {
        width: 55%;
        max-width: 500px;
        padding: 40px 0 80px 0;
    }

    .textDecorationLeft, .textDecorationRight {
        width: 50px;
        margin: 0 10px;
    }

    .style-se-h2 {
        padding: 12px 0;
        font-size: 3rem;
    }

    .style-se-h3 {
        font-size: 2.4rem;
        padding: 10px 0;
    }

    .style-se-h4 {
        font-size: 1.8rem;
    }

    .style-se-h5 {
        font-size: 2rem;
    }

    .style-se-h6 {
        font-size: 2.8rem;
        letter-spacing: 2px;
        margin: 0 auto;
    }

    .style-se-p1 {
        font-size: 1.8rem;
        padding: 4px 0;
    }

    .style-se-p3 {
        font-size: 1.8rem;
        padding: 3px 0 2px 0;
    }

    .style-se-p4 {
        font-size: 1.5rem;
        padding-bottom: 3px;
    }

    .style-se-link {
        font-size: 1.8rem;
        padding: 5px 0 3px 0;
    }

    .style-contact1 {
        font-size: 1.8rem;
        padding-top: 3px;
    }

    .style-contact2 {
        font-size: 1.8rem;
        padding-top: 3px;

    }

    .lineSpace1 {
        height: 12px;
    }

    .lineSpace2 {
        height: 24px;
    }

    .lineSpace3 {
        height: 36px;
    }

    .blackDivider {
        width: 150px;
    }

    .greenStar {
        padding: 6px 0;
        width: 18px;
    }

    .blackStar {
        padding: 14px 0;
        width: 14px;
    }

    .style-se-stars {
        font-size: 1.5rem;
    }

    .se-btn1 {
        width: 170px;
        height: 80px;
        border-radius: 6px;
    }

    .se-btn1-text {
        font-size: 2.6rem;
        letter-spacing: 3px;
    }


}

/* Laptop and landscape tablets*/
@media (min-width: 1030px) {
    
    .headerTitleCtn {
        padding: 4px 0;
    }

    header.shrunk .headerTitleCtn {
        padding: 4px 0;
    }

    .style-h1 {
        font-size: clamp(3.5rem,3.9vw,5rem);
    }

    header.shrunk .style-h1 {
        font-size: clamp(2.3rem,2.6vw,3rem);;
    }

    .style-h2 {
        font-size: clamp(2.6rem,2.6vw,3.2rem);
    }

    header.shrunk .style-h2 {
        font-size: clamp(1.3rem,1.4vw,2rem);
    }

    .ctn-h {
        padding: 4px 0 8px 0;
    }

    header.shrunk .ctn-h {
        padding: 4px;
    }

    .imageWrap img {
        width: clamp(140px, 14vw, 200px);
    }

    header.shrunk .imageWrap img {
        width: clamp(80px, 8vw, 100px);
    }

    /* Nav */

    .navDesktop {
        border-bottom: rgb(166, 124, 20) solid 3px;
    }

    .navDesktopCtn {
        width: 70%;
        min-width: 700px;
        max-width: 860px;
    }

    .navOption {
        font-size: clamp(1.2rem,1.35vw,1.8rem);
    }

    .navOptionSeparator {
        font-size: clamp(1.3rem,1.45vw,1.8rem);
    }

    .img1 {

    }
    .se1, .se2 {
        border-top-width: 3px;
    }

    .sectionHeader {
        height: 60px;
        padding: 26px 0 14px 0;
    }



    .style-se-h1 {
        font-size: 3rem;
    }

    .sectionHeaderSeparator {
        width: 150px;
    }



    .se-body {
        width: 60%;
        max-width: 500px;
        padding: 30px 0 80px 0;
    }

    .textDecorationLeft, .textDecorationRight {
        width: 40px;
        margin: 0 10px;
    }
    .style-se-intro {
        font-size: 1.6rem;
        padding-bottom: 20px;
    }

    .style-se-intro2 {
        font-size: 2.4rem;
        padding-bottom: 20px;
    }
    .style-se-h2 {
        padding: 8px 0 16px 0;
        font-size: 2.6rem;
    }

    .style-se-h3 {
        font-size: 2rem;
        padding: 8px 0;
    }

    .style-se-h4 {
        font-size: 1.4rem;
    }

    .style-se-h5 {
        font-size: 1.8rem;
    }

    .style-se-h6 {
        font-size: 2.2rem;
        letter-spacing: 2px;
        margin: 0 auto;
    }

    .style-se-p1 {
        font-size: 1.6rem;
        padding: 4px 0;
    }

    .style-se-p3 {
        font-size: 1.4rem;
        padding: 4px 0 3px 0;
    }

    .style-se-p4 {
        font-size: 1.4rem;
        padding-bottom: 4px;
    }

    .style-se-link {
        font-size: 1.4rem;
        padding: 5px 0 3px 0;
    }

    .style-contact1 {
        font-size: 1.2rem;
        padding-top: 3px;
    }

    .style-contact2 {
        font-size: 1.2rem;
        padding-top: 3px;

    }

    .lineSpace1 {
        height: 12px;
    }

    .lineSpace2 {
        height: 24px;
    }

    .lineSpace3 {
        height: 36px;
    }

    .blackDivider {
        width: 150px;
    }

    .greenStar {
        padding: 6px 0;
        width: 18px;
    }

    .blackStar {
        padding: 16px 0;
        width: 14px;
    }

    .style-se-stars {
        font-size: 1.5rem;
    }

    .se-btn1 {
        height: 40px;
        border-radius: 2px;
    }

    .se-btn1-text {
        font-size: 3rem;
        letter-spacing: 2px;
    }



}

@media (min-width: 1400px) {
}



/* Animations */

@keyframes letterHighlight {
    0% {
        color: inherit;
    }
    40% {
        color:rgb(136, 116, 65);
        text-shadow: 1px 1px 3px rgb(240, 235, 221);
    }
    100% {
        color: inherit;
    }
} 
    
